.container {
  height: 100%;
  flex: 1;
}

.titulo{
  font-family: 'Bree Serif', serif;
}

.linea{
  border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,
											  #e4f5fc 0%,
											  #bfe8f9 50%,
											  #9fd8ef 51%,
											  #2ab0ed 100%);
  height: 5px;
  width: 250px;
}