<div class="container-fluid d-flex h-100 flex-column px-0 mx-0" style="margin-top: 106px;">
  <!-- I want this container to stretch to the height of the parent -->
  <div class="row mx-0">
    <div class="col">
      <nav class="navbar navbar-toggleable-md fixed-top text-uppercase bg-transparent justify-content-between">
        <a class="navbar-brand text-white mr-0" [routerLink]="['/home']" routerLinkActive="active">
          <img src="../assets/logo.png" width="80" height="80" class="d-inline-block align-center mr-1" alt="">
        </a>
        <div class="row">
          <a [routerLink]="[ '/apps' ]" routerLinkActive="active" class="btn bg-transparent">
            <img src="../assets/project.png" width="40" height="40" alt="">
          </a>
          <div class="px-2"></div>
          <select #select (change)="translate.use(select.value)" class="selectpicker bg-transparent pr-1" data-width="fit">
            <option value="en" data-content='<img src="../assets/united-states.png" width="35" height="35">'>USA</option>
            <option value="es" selected data-content='<img src="../assets/spain.png" width="35" height="35">'>SPAIN</option>
        </select>
        </div>
      </nav>
    </div>
  </div>
  <div class="row fill d-flex mx-0">
    <!-- I want this row height to filled the remaining height -->
    <div class="col portlet-container portlet-dropzone">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>