<div class="row justify-content-center animated slideInRight
 w-100 mr-0 ml-0 mx-0" style="height: 100%">
    <div class="col" style="height: 100%">
        <div class="row justify-content-center mx-0">
            <div class="col-12 col-md-9 col-xl-7 align-self-center pt-2">
                <div class="card text-center shadow" style="height: 100%">
                    <div class="card-header gradient" style="height: 140px;">
                    </div>
                    <div class="card-body">
                        <div class="row w-100 justify-content-center mr-0 ml-0">
                            <div class="card-block card-img-profile">
                                <img class="img-fluid" src="../../assets/logo.png" alt="card image"
                                    alt="Imagen proyecto">
                            </div>
                        </div>
                        <h4 class="card-title title animated zoomIn">DevelopGadget</h4>
                        <p class="card-content content pt-1 animated zoomIn">{{'home.description' | translate}}</p>
                        <div class="row justify-content-center animated zoomInDown">
                            <div class="px-1" *ngFor="let item of Social">
                                <button class="btn bg-transparent btn-social px-0 py-0"
                                    (click)="this.redirect(item.Link)">
                                    <img class="img-fluid" [src]="item.Image" alt="card image" alt="Imagen proyecto">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center py-5 animated zoomInLeft delay-3s">
            <div class="row justify-content-center align-items-center">
                <div class="col-10">
                    <div class="row justify-content-center">
                        <p class="text-center titleop my-0">{{'home.about' | translate}}</p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="line text-center"></div>
                    </div>
                    <div class="row justify-content-center">
                        <p class="content my-2" style="font-size: 20px;">{{'home.content' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center py-5 w-100 animated zoomIn delay-5s mx-0">
            <div class="row justify-content-center align-items-center w-100">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <p class="text-center titleop my-0">{{'home.skills' | translate}}</p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="line text-center"></div>
                    </div>
                    <div class="row justify-content-between mt-2 w-100 mx-0
                    ">
                        <div class="col" *ngFor="let col of Columns; let index = index">
                            <div class="row justify-content-center">
                                <img [src]="col.Image" class="img-fluid" [alt]="col.TitleEn" width="130" height="130">
                            </div>
                            <div class="row justify-content-center">
                                <p class="text-center titleop my-0">{{ 'home.col' | translate: {name: colName(index)} }}
                                </p>
                            </div>
                            <div class="row justify-content-center">
                                <div class="line text-center"></div>
                            </div>
                            <div class="row justify-content-center my-2">
                                <h4 *ngFor="let item of col.Skills"><a [href]="item.Link" target="_blank"
                                        class="badge badge-info mx-2">{{item.Badge}}</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>