<div class="container-fluid">
    <div class="row justify-content-center align-self-start animated bounceIn" *ngIf="!this.Loader">
        <div class="col-8">
            <img src="https://cdn.dribbble.com/users/1186261/screenshots/3718681/_______.gif" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <div class="row animated lightSpeedIn align-items-center justify-content-center" *ngIf="this.Loader">
        <div class="card mb-3 m-1 animated infinite pulse border-light" style="max-width: 18rem;" *ngFor="let item of this.Apps">
            <div class="card-header">
                {{item.Nombre}}
            </div>
            <img [src]="item.Logo" class="card-img-top" alt="img-thumbnail">
            <div class="card-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal" (click)="this.App = item"><i class="fas fa-eye"></i>{{this.Textos.Boton}}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{this.App.Nombre}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times" style="color: red"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 align-self-center">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item " [ngClass]="{'active': i == 0}" *ngFor="let item of this.App.Imagenes; let i = index">
                            <img class="img-fluid img-thumbnail" [src]="item" alt="Random slide">
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="fas fa-angle-double-left fa-2x fa-spin" style="color: violet" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="fas fa-angle-double-right fa-2x fa-spin" style="color: violet" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="row">
                <br>
                <p class="card-text" *ngIf="this.Select === 'EN'">{{this.App.DescripcionEn}}</p>
                <p class="card-text" *ngIf="this.Select === 'ES'">{{this.App.DescripcionEs}}</p>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> {{this.Textos.CerrarBtn}}</button>
        <button type="button" class="btn btn-primary" (click)="this.Ruta()"><i class="fas fa-download"></i> {{this.Textos.Descargar}}</button>
      </div>
    </div>
  </div>
</div>