<nav class="navbar fixed-top navbar-light bg-dark">
  <a class="navbar-brand text-white">
    <img src="https://dh.virginia.edu/system/files/styles/large/private/bootstrap-stack.png?itok=PwhHCxo1" width="50" height="50" alt="">
    DevelopGadget
  </a>
  <button type="button" class="btn btn-outline-info" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Inicio']" routerLinkActive="router-link-active"><h3 class="navbar-brand text-white">Inicio</h3></a>
      </li>
    </ul>
  </div>
</nav>
