<nav class="navbar fixed-top navbar-light bg-dark">
  <a class="navbar-brand text-white">
    <img src="../../../assets/Logo.png" width="50" height="50" alt="">
    DevelopGadget
  </a>
  <div class="dropdown">
    <button class="btn btn-outline-info dropdown-toggle mr-sm-2" type="button" id="dropdownMenu2" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-globe"></i>
      {{this.Idioma}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button" (click)="this.Cambio('ES')">
        <span class="label label-default">
          <span class="flag-icon flag-icon-es"></span>
          Español
        </span>
      </button>
      <button class="dropdown-item" type="button" (click)="this.Cambio('EN')">
        <span class="label label-default">
          <span class="flag-icon flag-icon-us"></span>
          Ingles
        </span>
      </button>
    </div>
  </div>
  <button type="button" class="btn btn-outline-info my-2 my-sm-0" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link navbar-brand text-white" [routerLink]="['/Inicio']" routerLinkActive="router-link-active">
          <i class="fas fa-home"></i>
          {{this.Textos.Inicio}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-brand text-white" [routerLink]="['/Apps']" routerLinkActive="router-link-active">
          <i class="fas fa-mobile-alt"></i>
          {{this.Textos.Aplicaciones}}
        </a>
      </li>
    </ul>
  </div>
</nav>
