/* You can add global styles to this file, and also import other style files */

html, body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

h4, a {
  font-family: 'Courgette', cursive;
}
